<mat-toolbar id="bar">
<h2>FANCY STORE</h2>
<span>
    <button mat-button [routerLink]="['']" routerLinkActive="router-link-active" >Home</button>
    <button mat-button [routerLink]="['/products']" routerLinkActive="router-link-active" >Products</button>
</span>
<span class= "spacer"></span>
<span>
    <button mat-button [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
    <button mat-button [routerLink]="['/signup']" routerLinkActive="router-link-active" >Signup</button>
    <button mat-button [routerLink]="['/cart']" routerLinkActive="router-link-active">cart</button>
</span>
</mat-toolbar>
 