<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="signupForm">
    <mat-form-field appearance="fill">
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput placeholder="Confirme su email" formControlName="email2">
    </mat-form-field>
    
    <mat-form-field appearance="fill">
        <input matInput type="password" formControlName="pass">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <input matInput type="password" formControlName="pass2">
    </mat-form-field>
    <button mat-button type="submit">Create Account</button>
</form>
<div *ngIf="!signupForm.valid">Error, revise los datos ingresados</div>
